body#loginBody{
	/*display: none;  | all disapire **/
	/* 1. set the image all background*/
	background: url('../images/login.jpg') no-repeat center center fixed;
	background-size: cover;  
}

body{
	font-family: arial;
}

div.loginHeader{
	text-align: center;
	margin-bottom: 60px;
}

/**ims*/
div.loginHeader h1{
	font-size: 100px;
	color: #dc143c;
	padding: 0px;
	margin: 0px;
}

/*inventory management syystem */
div.loginHeader p{
	color: #ee4466;
	font-size: 50px;
	margin: 0px;
	text-transform: uppercase;
	display: inline-block;
}

 /* border line */
div.loginHeader p:after{
	content: '';
	display: block;
	height: 5px;
	background: #dc143c;
	margin: 0 auto;
}

/** username password  */
div.loginBody form{
	margin: 0 auto;
	width: 450px;
	background: rgba(0,0,0,.5); /** black background shadow */
	padding: 50px;
	border: 2px solid #fff;
	border-radius: 8px;
}

div.loginInputsContainer{
	margin-top: 20px;
}

div.loginInputsContainer label {
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #fff; 
}

div.loginInputsContainer input{
	height: 30px;
	width: 100%;
	border:2px solid #d40339; /* red cloor input border */
	font-size: 20px;
	padding: 5px;
	text-align: center;
}

div.loginButtonContainer {
	margin-top: 40px;
	text-align: center;
}

div.loginButtonContainer button{
	font-size: 20px;
	padding: 10px 30px;
	background: #f685a2;
	border: none;
	color: #fff;
}

/* home page  */

*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

div.header{
	width: 100%;
	height: 20px;
	background: #f685a2;
}

div.banner{
	background: url('../images/banner.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	height: 80vh;
}

div.homepageContainer{
	width: 100%;
	max-width: 900px;
	/**height: 70vh;*/
	margin: 0 auto;
}

div.bannerHeader h1{
	font-size: 100px;
	color: #f685a2;
	line-height: 100%;
}

div.bannerHeader p{
	font-size: 30;
	color: #f685a2;
	text-transform: uppercase;
	line-height: 100%;
}

p.bannerTagline{
	margin-top: 20px;
	font-size: 25px;
	color: #fff;
}

div.bannerIcons{
	margin-top: 150px;
}

div.bannerIcons a{
	font-size: 23px;
	margin-left: 40px;
	padding: 7px 15px;
	background: rgba(0,0,0,0.5);
	color: #868485;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-block;
}

div.bannerIcons a:first-child{
	margin-left: 0px;
}

div.bannerIcons a:hover{
	color: #fff;
	background: #f685a2;
	font-size: 25px;
	transition: .5s all;
}

div.homepageFeatures{
	display: flex;
	flex-direction: row;  /* 3 row in column */
	padding: 20px 10px;
}

div.homepageFeature{
	padding: 10px 20px;
	text-align: center;
}

div.homepageFeature span.featureIcon{
	height: 80px;
	width: 80px;
	display: inline-block;
	font-size: 50px;
	background: #f685a2;
	color: #fff;
	/* padding-left: 18px; */
	padding-top: 5px;
	border-radius: 50%;
	margin-bottom: 20px;
}

div.homepageFeature h3.featureIcon{
	margin-bottom: 20px;
}

div.homepageFeature h3.featureDescription{
	color: #848484;
}

div.homepageNotified{
	display: flex;
	flex-direction: row;  /** div eka athule dekata bedenawa */
	background: #e3e3e3;
	padding: 50px 0px;
}

div.homepageNotifiedContainer{
	display: flex;
	flex-direction: row;
}

div.homepageNotifiedContainer > div{
	width: 50%;
}

div.eailForm{
	width: 40%;
	
}

div.video{
	width: 60%;
	text-align: center;
}

div.homepageNotified h3{
	margin-bottom: 20px;
}

div.homepageNotified p{
	color: #848484;
	line-height: 150%;
	margin-bottom: 30px;
}

div.formContainer{
	width: 80%;
	position: relative;
}

div.formContainer input{
	width: 100%;
	padding: 15px 10px;
	border-radius: 15px;
	border: none;
}

div.formContainer input{
	outline: none;
}

div.formContainer button{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	font-size: 22px;
	padding: 0px 10px;
	background: #f685a2;
	border: none;
	color: #fff;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

iframe{
	width: 80%;
	height: 120%;

}

div.socials{
	text-align: center;
	padding: 60px 0 30px 0;
}

div.socialHeader{
	font-size: 30px;
}

p.socialText{
	margin-top: 15px;
	margin-bottom: 15px;
}

div.socialIconContainer a{
	font-size: 23px;
	height: 50px;
	width: 50px;
	display: inline-block;
	padding-top: 7px;
	background: #d4d4d4;
	border-radius: 50%;
	color: #fff;
	margin-left: 20px;
}

div.socialIconContainer a:hover{
	background: #f685a2;
	transition: 0.4s all;
}

div.footer{
	background: #e3e3e3;
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
}

div.footer a{
	color: #848484;
	margin-left: 30px;
	text-decoration: none;  /** a href eke underline eka remove wenawa ***/

}